body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/foto\ de\ portada.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
/* fotos */
.navbar img{ 
  width: 35px;
  height: 32px;
}
img{
  height: 300px;
  width: 500px;
  object-fit: contain;
}


/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
