body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
    Geneva, Verdana, sans-serif;
    }
.header {
    height: 10em;
    padding: 5em;
    font-size: 20px;
    height: 150px;
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-position: center;
    }
.header h1 {margin: 0px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header p {font-family:Georgia, 'Times New Roman', Times, serif;
font-style: oblique;}
.products{width: 100%;
    margin: auto; background-color:antiquewhite;
    }
.products td {
        width: 50%;
        padding: 2em;
        }
.products img {
        width: 350px;
        border: solid 1px #ddd;
        }
.products p {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin: 5px; 
font-size: 20px;
font-style: normal;
color:brown}

.footer {
    height: 100%;
    line-height: 3em;
    background-color:lightpink;
    color: white;
    text-align: center;
    font-weight: 900;
    }